.combobox {
  max-width: 300px;
}

.combobox__list {
  display: none;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.combobox.is-open .combobox__list {
  display: block;
}
