.select {
  position: relative;
  max-width: 300px;
} 

.select__toggle {
  padding: 0.5em;
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
}

.select__arrow {
  position: absolute;
  right: 1em;
  top: 1em;
  transition: transform 0.1s ease-in-out;
}

.select__toggle:focus {
  outline: none;
  border-color: #333;
}

.select .list {
  display: none;
}

.select.is-open .list {
  display: block;
}

.select.is-open .select__arrow {
  transform: rotate(180deg);
}

.select__label {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  transform-origin: 0 0;
  transform: scale(0.8) translateY(-1.5em);
  color: #888;
}