.text-field {
  position: relative;
  width: 300px;
}

.text-field__field {
  padding: 0.5em;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 1rem;
}

.text-field__field:focus {
  outline: none;
  border-color: #333;
}

.text-field__field:focus + .label,
.text-field__field.is-active + .label {
  transform: scale(0.8) translateY(-1.5em);
  color: #888;
}